/* ------------------------------- */
/* -------- RedHatDisplay -------- */
/* ------------------------------- */

/* regular */
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./theme/Red_Hat_Display/static/RedHatDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./theme/Red_Hat_Display/static/RedHatDisplay-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
/* medium */
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./theme/Red_Hat_Display/static/RedHatDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./theme/Red_Hat_Display/static/RedHatDisplay-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
/* semi-bold */
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./theme/Red_Hat_Display/static/RedHatDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./theme/Red_Hat_Display/static/RedHatDisplay-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
/* bold */
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./theme/Red_Hat_Display/static/RedHatDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./theme/Red_Hat_Display/static/RedHatDisplay-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


/* ------------------------------- */
/* ------------ Nunito ----------- */
/* ------------------------------- */

/* regular */
@font-face {
  font-family: 'Nunito';
  src: url('./theme/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('./theme/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('./theme/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
/* bold */
@font-face {
  font-family: 'Nunito';
  src: url('./theme/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('./theme/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}